$red: hsl(0, 78%, 62%);
$cyan: rgb(69, 211, 211);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$neutral-dark-blue: rgb(76, 78, 97);
$neutral-blue: rgb(163, 165, 174);
$neutral-light-gray: hsl(0, 0%, 98%);

$fw-200: 200;
$fw-400: 400;
$fw-600: 600;

$br: 0.38rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.9375rem;

  @media (min-width: 1024px) {
    font-size: 80%;
  }
}
body {
  padding: 4rem 0;
  font-family: "Poppins", sans-serif;
  background-color: $neutral-light-gray;

  @media (min-width: 1024px) {
    padding: 0;
  }
}
h1,
h3 {
  margin-bottom: 0.75rem;
  font-weight: $fw-600;
  color: $neutral-dark-blue;
}
h1 {
  font-size: 1.5rem;

  @media (min-width: 1024px) {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
h3 {
  font-size: 1.2rem;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

p {
  color: $neutral-blue;
}

img {
  display: block;
  max-width: 100%;
}
