.main {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-content: center;

    @media (min-width: 1024px) {
        min-height: 100vh;
        place-items: center;
    }
}

.features {
    display: grid;
    grid-auto-columns: minmax(0, 25rem);
    gap: 2rem;

    .title-box {
        text-align: center;
        margin-bottom: 2rem;

        .title-light {
            font-weight: $fw-200;
        }

        .title-text {
            max-width: 54ch;
            margin: 0 auto;
        }
    }

    .card {
        padding: 1.75rem;
        background-color: #fff;
        -webkit-box-shadow: 2px 13px 19px 0px rgba(76, 78, 97, 0.19);
        box-shadow: 2px 13px 19px 0px rgb(207, 213, 240);
        border-radius: $br;

        display: grid; // to align .svg

        img {
            margin-top: 2rem;
            justify-self: right;
        }
    }

    .supervisor {
        border-top: 5px solid $cyan;
    }

    .middle-col {
        display: grid;
        row-gap: 2rem;

        .team-builder {
            border-top: 5px solid $red;
        }

        .karma {
            border-top: 5px solid $orange;
        }
    }

    .calculator {
        border-top: 5px solid $blue;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 25rem));

        .title-box {
            grid-column: 1/-1;

            p {
                margin-top: 0.75rem;
                font-size: 1.1rem;
            }
        }

        .supervisor,
        .calculator {
            align-self: center;
        }
    }
}
